# IDEs and editors
/.idea
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.cursor/

# System Files
.DS_Store
Thumbs.db
.cache/
.local/

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# C++ & CMake
compile_commands.json
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.so
*.dll
*.exe

# Environment Variables
.env

# Engine outputs & data
engine/build/
engine/build_output/
engine/data/*.csv
!engine/data/sample_RELIANCE.csv
engine/data/*.pbin